.box {
  width: auto;
  max-width: max-content;
  padding: 10px 200px 30px 200px;
  background: #f1f5f9;
  box-shadow: 8px 16px 20px grey;
  margin: 0px auto 50px auto;
}

.error-text {
  padding: 0px;
  margin: 0px;
  text-decoration: underline;
  font-style: italic;
  color: red;
  font-size: 0.8em;
}

.hidden{
  visibility: hidden;
}

.container {
  width: auto;
  max-width: max-content;
  padding: 10px 40px 30px 40px;
  border-color: #999999;
  background: #f1f5f9;
  border-width: 4px;
  border-radius: 1px;
  margin: 20px auto 20px auto;
}

form, table {
  display:inline;
  margin:0px;
  padding:0px;
}

.inner-column-2 {
  column-count: 2;
}

.inner-column-3 {
  column-count: 3;
}

.inner-row-2 {
 height: 40%;
 margin: 0px;
}

.sl-column-left{
  float: left;
  width: 25%;
  height: 100%;
}

.sl-column-center{
  display: inline-block;
  width: 50%;
  height: 100%;
}

.sl-column-right{
  float: right;
  width: 25%;
  height: 100%;
}

.sl-row-top{
  height: 2vh;
}

.sl-row-center{
  height: 80vh;
}

.sl-row-bottom{
  height: 2vh;
}

.m-column-l-left{
  float: left;
  width: 8%;
  height: 100%;
}

.m-column-c-left{
  float: left;
  display: inline-block;
  width: 17%;
  height: 100%;
}

.m-column-center{
  display: inline-block;
  width: 50%;
  height: 100%;
}

.m-column-c-right{
  display: inline-block;
  vertical-align: top;
  width: 17%;
  height: 100%;
}

.m-column-r-right{
  float: right;
  width: 7%;
  height: 100%;
}

.m-row-top{
  height: 16vh;
}

.m-row-center{
  height: 74vh;
}

.m-row-bottom{
  height: 4vh;
}

.joke {
  word-wrap: break-word;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  border: 2px solid #dedede;
  border-radius: 10px;
  width: 100%;
  color: #34495E;
}

.joke-top-row {
  height: 20%;
}

.joke-bottom-row {
  height: 70%;
}

.joke-p {
  padding: 10px;
  max-height: 80px;
  text-align: left;
}

body {
  position: relative;
  text-align: center;
  align-content: center;
  vertical-align: center;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p{
  color: black;
  padding: 0px;
  margin: 0px;
}

input {
  width: 200px;
  margin: 0px;
  padding: 0px;
}

text {
  padding-right: 100px;
}

#login-logo {
  max-height: 14vh;
  max-width: max-content;
  padding: 20px 20px 5px 20px;
}

.page-logo {
  max-height: 8vh;
  max-width: max-content;
  padding: 0px 20px 5px 20px;
}

.profile-logo {
  max-height: 6vh;
  vertical-align: middle;
}

.small-profile-logo {
  max-height: 4vh;
  display: inline;
  vertical-align: middle;
}

#valign {
  vertical-align: middle;
}

.inline {
  vertical-align: middle;
  display: inline;
}

.inline-left {
  vertical-align: middle;
  float: left;
  display: inline;
}

.inline-middle {
  vertical-align: middle;
  display: inline;
}

.inline-right {
  vertical-align: middle;
  float: right;
  display: inline;
}

.float-bottom {
  bottom: 10px;
  right: 10px;
  margin-top: 100%;
}

#email {
  color: blue;
}

#todo {
  max-width: 600px;
}

#jokeTitle {
  width: 50vh;
}

#joketitlegiven {
  margin-top: 5px;
  margin-bottom: 5px;
}

#jokeText {
  width: 80vh;
  height: 30vh;
}

#rating {
  padding-top: 3vh;
  padding-bottom: 1vh;
}

.rating_button{
  width: 90px;
  height: 30px;
}

.rating_button_hidden{
  visibility: hidden;
  width: 90px;
  height: 30px;
}

#rating_input{
  text-align: center;
  max-width: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.red
{
  color: #FF0000;
}

.black
{
  color: #FF0000;
}

.red_outline
{
  border-width: thick;
  border-style: solid;
  border-color: #FF0000;
}

.black_outline
{
  border-width: thin;
  border-style: solid;
  border-color: #000000;
}

.none_outline
{
  border-width: 0px;
  border-style: none;
}

.inline
{
  display: inline;
}
